@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
$primary-color: #81667a;
$secondary-color: #eeeeee;
$accent-color: #ff7118;
$text-color: #19180a;
$background-color: #fafafa;

body {
    background-color: $background-color;
    color: $text-color;
    font-family: "Lexend", sans-serif;
    margin: 0;
    padding: 0;
}


h1 {
    font-weight: 700;
    color: $primary-color;
    text-align: center;
  }
h2 {
    font-weight: 700;
    color: $text-color;
    text-align: center;
}

.home-buttons {
    display: flex;
    justify-content: center;
    background-color: $secondary-color;
}

button {
    background-color: $accent-color;
    font-family: "Lexend", sans-serif;
    font-weight: 600;
    height: fit-content;
    color: $text-color;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
        background-color: $background-color;
        box-shadow: 0px 0px 10px $accent-color;
    }
    &.category-button{
        margin: 24px 8px;
    }
    &.view-details{
        background-color: $background-color;
        color: $text-color;
        border: 2px solid $text-color;
    }
    &.remove-button{
        font-size: x-small;
        padding: 4px 8px;
        background-color: $background-color;
        color: $text-color;
        border: 2px solid $text-color;
        margin-left: 16px;
    }
    &#category-button{
        margin: 24px 8px;
    }
    &#cart-button{
        margin: 24px 8px;
    }
    &#home-button{
        margin: 24px 8px;
    }
    &#add-to-cart-button {
        width: fit-content;
    }
}


.product-list {
    padding-inline: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 60px;
    & .product-card {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background: white;
        border: 1px solid $secondary-color;
        border-radius: 12px;
        padding: 15px;
        margin: 10px;
        width: 20%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    & img{
        width: auto;
        height: 320px;
        object-fit: scale-down;
        border-radius: 8px;
    }
}

#categories {
    display: flex;
    width: 100%;
    justify-content: center;
}

.cart-items {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 40px;
}

.cart-item{
    display: flex;
    width: fit-content;
    justify-content: space-between;
    margin: 8px 0px;
    align-items: center;
    background-color: $secondary-color;
    border-radius: 12px;
    padding: 24px;
    & p {
        width: 120px;
    }
    & .cart-title{
        width: 480px;
    }
    & input{
        margin-left: 40px;
        border-color: $text-color;
        border-radius: 4px;
    }
}

.cart-total {
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: $primary-color;
    color: $background-color;
    padding-inline: 120px;
    & #empty-cart-button {
        font-size: x-small;
        padding: 4px 8px;
        background-color: $background-color;
        color: $text-color;
        border: 2px solid $text-color;
        margin-left: 16px;
    }
}

.product-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    & h3{
        font-size: x-large;
        text-align: center;
    }
    & .desc{
    width: 50%;
    text-align: center;
}
}


header {
    display: flex;
    justify-content: center;
    padding: 120px;
    background-image: url(./Hero.png);
    background-size: cover;
}

footer {
    background-color: $text-color;
    color: $secondary-color;
    text-align: center;
    padding: 40px 0px;
}
